<div class="flex flex-col flex-1">
    <InternalHeader />
<div class="flex flex-col bg-gray-100 grow lg:w-3/4 mx-auto px-4 min-h-screen overflow-y-auto">
    <h2 class="text-2xl font-bold mb-4">Notifications</h2>

    {{#if this.isLoading}}
    <p class="text-center text-gray-600">Loading...</p>
    {{else if this.error}}
    <p class="text-red-600 text-center">{{this.error}}</p>
    {{else}}
    <div class="space-y-4">
        {{#each this.messages as |message|}}
        <div class="bg-white p-4 shadow-md rounded-lg border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-800">{{message.name}}</h3>
            <p class="text-sm text-gray-600">{{message.email}}</p>
            <p class="mt-2 text-gray-700">{{message.message}}</p>
            <p class="mt-2 text-xs text-gray-500">{{format-date message.createdAt}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
</div>